name: Create Release
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Create Release
      # if: ${{ github.ref == 'refs/heads/main' }}
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        username: ${{ secrets.GIT_USENAME }}
        password: ${{ secrets.GIT_PASSWORD }}
      with:
        tag_name: v1.0.3
        release_name: Release v1.0.3
        body: |
          github.release.log\nPoint 1 \nPonit 2:
        draft: false
        prerelease: false